Source: adaptation-droidian-ginkgo
Maintainer: PaChOf
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/pachof/adaptation-droidian-ginkgo
Vcs-Git: https://github.com/pachof/adaptation-droidian-ginkgo.git

Package: adaptation-droidian-ginkgo
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-ginkgo-configs,
         ofono-config-ril-binder-single-sim-sim2,
         droidian-camera,
Description: adapatation-ginkgo-meta
 ginkgo api28-29 adaptation metapackage

Package: adaptation-ginkgo-configs
Architecture: all
Depends: ${misc:Depends},
Description: ginkgo's adaptation configs
